@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMS Registration</title>
    <link   rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
            crossorigin="anonymous"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only"
            asp-fallback-test-property="position"
            asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/required-field.min.css" />
</head>
<body style="padding-top:12.5px;background-color:#333333">
    <div style="width:80%;margin: 0 auto; background-color:#FFF;">
            <nav class="navbar navbar-light navbar-expand-lg" style="width:100%;background-color:#e0e6eb;border-bottom: 4px solid #af3639;">
                <a class="navbar-brand" style="margin-right:0px;" href="#">
                    <img src="https://www.gsa.gov/sites/gsa.gov/templates/resources/images/nav-logo.png" width="30" height="30" alt="">
                </a>
                <button aria-controls="navbarCollapse" 
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-target="#topNavbarCollapse"
                        data-toggle="collapse"
                        type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="topNavbarCollapse">
                    <ul class="mr-auto navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" style="color:#006db6;" asp-page="/Index">LMS Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#433f36;" asp-page="/Index">Home</a>
                        </li>

                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanAccessStudentLink")).Succeeded)
                        {
                            <li class="nav-item"><a class="nav-link" style="color:#433f36;" asp-page="/Enrollments/Index">My Programs</a></li>
                        }    
                    
                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanAccessApproverLink")).Succeeded)
                        {
                            <li class="nav-item"><a class="nav-link" style="color:#433f36;" asp-page="/Approvals/Index">Enrollments</a></li>
                        }   
                        <li class="nav-item">
                            <a class="nav-link" style="color:#433f36;" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#433f36;" asp-page="/Contact">Contact</a>
                        </li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </nav>
            <div class="container body-content" style="margin-top:20px;font-family: 'Source Sans Pro', sans-serif;color:#333333;">
                @RenderBody()
                <!-- <footer  style="background-color:#e0e6eb;width:100%;">
                    <p>&copy; 2018 - Learning Management System</p>
                </footer> -->
            </div>
                <footer style="background-color:#e0e6eb;width:100%;border-top: 4px solid #af3639;">
                   &nbsp; <!-- <p>&copy; 2018 - Learning Management System</p> -->
                </footer>            
    </div>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"                
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
